@using Zifro.Controllers
@model Zifro.Models.ForgotPasswordModel

@using (Html.BeginUmbracoForm<PasswordController>("HandleForgotPassword", null, new {@class = "needs-validation", @novalidate = "novalidate", @id = "forgot-password-form"}))
{
    @Html.AntiForgeryToken();

    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Any())
    {
        <div class="alert alert-danger hide-if-empty" role="alert">
            @Html.ValidationSummary(true)
        </div>
    }

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
            @Html.ValidationMessageFor(model => model.Email)
            <div class="invalid-feedback">Skriv din epost-adress.</div>
        </div>

        @if (TempData["EmailSendSuccess"] != null)
        {
            <div class="alert alert-success">@TempData["EmailSendSuccess"].ToString()</div>
        }

        <p>
            <input class="btn btn-secondary" type="submit" value="Återställ lösenord"/>
        </p>
    </fieldset>
}