@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "~/Views/Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
}

<header class="bg-z-dark text-white header-thin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">

                <h1><a href="/blogg" class="text-white">@Model.BlogTitle</a></h1>

            </div>
        </div>
    </div>
</header>

<main class="content" role="main">
    
    <section id="breadcrumb" class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    @Html.Partial("BreadcrumbFromRoot")
                </div>
            </div>
        </div>
    </section>

    <article class="post">

        <section style="padding-top:30px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div id="post-header" style="padding-bottom: 2rem">
                            <h1 class="post-title">@Model.Name</h1>
                            <div class="post-meta">
                                <time datetime="@Model.PublishedDate.ToString("yyyy-MM-dd")">
                                    @Model.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                                </time>
                            </div>
                            
                            @Html.ThemedPartial(Model, "PostTags")
                
                            @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
                            {
                                <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" />
                            }
                        </div>
            
                        @Model.Body
                        
                    </div>
                </div>
            </div>
        </section>

        @*Html.ThemedPartial(Model, "CommentsDisqus")*@

    </article>

</main>
